<div class="content">
    {{#if (eq code "00")}}
        <p style="text-align: center;">Giao Dịch thành công</p>
        <p style="text-align: center;">
        <a class="btn btn-default" href="/cart">Về trang chủ</a>
        </p>
    {{else}}
        <p style="text-align: center; color: red;">GD thất bại</p>
        <p style="text-align: center;">
        <a class="btn btn-default" href="/">Về trang chủ</a>
        </p>
    {{/if}}
    
</div>